/// SCSS
///
/// .alert{
/// 	@include alert-variant(#f36,darken(#f36,5%),#333);
/// }
///
/// //CSS
///
/// .alert {
///  	background-color: #ff3366;
///   	border-color: #ff1a53;
///   	color: #333333;
/// }
///
/// .alert a {
///   	color: #1a1a1a;
/// }
///

@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  a {
    color: darken($text-color, 10%);
  }
}
