//Example
//p {
//  @include font-size(14px)
//}
//p {
//  font-size: 14px; //Will be overridden if browser supports rem
//  font-size: 0.8rem;
//}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}