//Example
//<button class="mobile-navigation-trigger">
//<b class="visually-hidden">Open the navigation</b>
//<img src="img/mobile-navigation-icon.svg">
//</button>

//.visually-hidden {
//  @extend %visuallyhidden;
//}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}