//Hide-text-Mixin

@mixin hide-text {
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
}

//Example
.example-logo {
  background: url("logo.png");
  height: 100px;
  width: 200px;
  @include hide-text;
}