//REM-Calculate-Mixin

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//Example
.example-p {
  @include font-size(14px)
}
.example-p {
  font-size: 14px; //Will be overridden if browser supports rem
  font-size: 0.8rem;
}