ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {

  > li {

    > a {

    }
    &:hover,&:active {

    }
    &.active {

    }
  }
}

ol {

  > li {

    > a {

    }
    &:hover,&:active {

    }
    &.active {

    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}