.alert {
  background-color: #29d2e4;
  border: 1px solid #29d2e4;
  color: #fff;
  padding: 15px 20px;
}

.alert .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert .close-icon:before, .alert .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert.alert-custom {
  background-color: #66615B;
  border: 1px solid #66615B;
}

.alert.alert-custom .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-custom .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert.alert-custom .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-custom .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert.alert-custom .close-icon:before, .alert.alert-custom .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert.alert-custom .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert.alert-custom .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert.alert-info {
  background-color: #29d2e4;
  border: 1px solid #29d2e4;
}

.alert.alert-info .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-info .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert.alert-info .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-info .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert.alert-info .close-icon:before, .alert.alert-info .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert.alert-info .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert.alert-info .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert.alert-success {
  background-color: #8bc34a;
  border: 1px solid #8bc34a;
}

.alert.alert-success .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-success .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert.alert-success .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-success .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert.alert-success .close-icon:before, .alert.alert-success .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert.alert-success .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert.alert-success .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert.alert-warning {
  background-color: #f87d09;
  border: 1px solid #f87d09;
}

.alert.alert-warning .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-warning .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert.alert-warning .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-warning .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert.alert-warning .close-icon:before, .alert.alert-warning .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert.alert-warning .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert.alert-warning .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.alert.alert-danger {
  background-color: #e91e63;
  border: 1px solid #e91e63;
}

.alert.alert-danger .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-danger .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert.alert-danger .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-danger .close-icon {
  float: right;
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  white-space: nowrap;
}

.alert.alert-danger .close-icon:before, .alert.alert-danger .close-icon:after {
  content: '';
  position: absolute;
  top: 8px;
  width: 15px;
  height: 2px;
  left: 0;
}

.alert.alert-danger .close-icon:before {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.alert.alert-danger .close-icon:after {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.example-block {
  /* CSS declarations for `.block` */
}

.example-block__element {
  /* CSS declarations for `.block__element` */
}

.example-block--modifier {
  /* CSS declarations for `.block--modifier` */
}

.example-block--modifier__element {
  /* CSS declarations for `.block--modifier__element` */
}

.example-block-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.example-block-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.example-block-center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.example-block-center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.example-sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
}

@media only screen and (min-width: 320px) {
  .example-sidebar {
    width: 100%;
    float: none;
    margin: 0;
  }
}

.example-sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
}

@media only screen and (min-width: 320px) {
  .example-sidebar .sidebar {
    width: 100%;
    float: none;
    margin: 0;
  }
}

.breadcrumb {
  line-height: 1;
  display: block;
  margin: 0;
  vertical-align: middle;
  font-size: 16px;
}

.breadcrumb__link {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #6f6bef;
}

.breadcrumb__link.is-active {
  font-weight: 700;
  color: #333333;
}

.breadcrumb__divider {
  display: inline-block;
  opacity: .7;
  margin: 0 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}

.breadcrumb__icon {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0 5px;
}

.menu-bar {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu-bar, .menu-bar:before, .menu-bar:after {
  display: block;
  width: 24px;
  height: 3px;
  -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear;
  transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  background-color: #333;
}

.menu-bar:before, .menu-bar:after {
  position: absolute;
  content: "";
}

.menu-bar:before {
  top: -8px;
}

.menu-bar:after {
  top: 8px;
}

.hamburger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburger.is-open .menu-bar {
  background-color: transparent;
}

.hamburger.is-open .menu-bar:before {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-open .menu-bar:after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.example-block {
  *zoom: 1;
}

.example-block:before, .example-block:after {
  content: " ";
  display: table;
}

.example-block:after {
  clear: both;
}

.example-logo {
  background: url("logo.png");
  height: 100px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
}

a {
  color: #29d2e4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #8bc34a;
}

.example-link-element a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
}

.example-link-element a {
  color: #e91e63;
}

.example-link-element a:hover, .example-link-element a:focus {
  color: #f87d09;
}

.example-p {
  font-size: 14px;
  font-size: 0.875rem;
}

.example-p {
  font-size: 14px;
  font-size: 0.8rem;
}

.example-square {
  width: 50px;
  height: 50px;
}

.example-rectangle {
  width: 100px;
  height: 50px;
}

.arrow-triangle {
  display: inline-block;
}

.arrow-top {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-opposite-position(top): 45px solid #e91e63;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.arrow-bottom {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-opposite-position(bottom): 45px solid #29d2e4;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.arrow-left {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-opposite-position(left): 45px solid #66615B;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}

.arrow-right {
  width: 0;
  height: 0;
  content: '';
  z-index: 2;
  border-opposite-position(right): 45px solid #8bc34a;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}

.arrow-line {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px dashed #000;
  display: inline-block;
}

.arrow-line-top:after, .arrow-line-top:before {
  content: '';
  background-color: #29d2e4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.arrow-line-top:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-line-top:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-line-top:after, .arrow-line-top:before {
  height: 50px;
  width: 1px;
  -webkit-transform-origin: center top;
  transform-origin: center top;
}

.arrow-line-bottom:after, .arrow-line-bottom:before {
  content: '';
  background-color: #8bc34a;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.arrow-line-bottom:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-line-bottom:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-line-bottom:after, .arrow-line-bottom:before {
  height: 50px;
  width: 1px;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.arrow-line-left:after, .arrow-line-left:before {
  content: '';
  background-color: #f87d09;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.arrow-line-left:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-line-left:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-line-left:after, .arrow-line-left:before {
  height: 1px;
  width: 50px;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.arrow-line-right:after, .arrow-line-right:before {
  content: '';
  background-color: #e91e63;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.arrow-line-right:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-line-right:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-line-right:after, .arrow-line-right:before {
  height: 1px;
  width: 50px;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.example-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid;
  letter-spacing: 0;
  outline: none;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 4px;
  color: #fff;
  background-color: #66615B;
  border-color: #66615B;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button:hover, .button:focus, .button:active {
  color: #fff;
  background-color: #4b4743;
  border-color: #43403c;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:focus, .button[disabled]:active,
fieldset[disabled] .button,
fieldset[disabled] .button:hover,
fieldset[disabled] .button:focus,
fieldset[disabled] .button:active {
  background-color: #66615B;
  border-color: #66615B;
}

.button.button-secondary {
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button.button-secondary:hover, .button.button-secondary:focus, .button.button-secondary:active {
  color: #fff;
  background-color: #771e86;
  border-color: #6c1b7a;
}

.button.button-secondary[disabled], .button.button-secondary[disabled]:hover, .button.button-secondary[disabled]:focus, .button.button-secondary[disabled]:active,
fieldset[disabled] .button.button-secondary,
fieldset[disabled] .button.button-secondary:hover,
fieldset[disabled] .button.button-secondary:focus,
fieldset[disabled] .button.button-secondary:active {
  background-color: #9c27b0;
  border-color: #9c27b0;
}

.button.button-secondary.button-border:hover, .button.button-secondary.button-border:focus {
  background: #9c27b0;
  border-color: #9c27b0;
  color: #fff;
}

.button.button-info {
  color: #fff;
  background-color: #29d2e4;
  border-color: #29d2e4;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button.button-info:hover, .button.button-info:focus, .button.button-info:active {
  color: #fff;
  background-color: #18b1c2;
  border-color: #17a5b4;
}

.button.button-info[disabled], .button.button-info[disabled]:hover, .button.button-info[disabled]:focus, .button.button-info[disabled]:active,
fieldset[disabled] .button.button-info,
fieldset[disabled] .button.button-info:hover,
fieldset[disabled] .button.button-info:focus,
fieldset[disabled] .button.button-info:active {
  background-color: #29d2e4;
  border-color: #29d2e4;
}

.button.button-info.button-border:hover, .button.button-info.button-border:focus {
  background: #29d2e4;
  border-color: #29d2e4;
  color: #fff;
}

.button.button-success {
  color: #fff;
  background-color: #8bc34a;
  border-color: #8bc34a;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button.button-success:hover, .button.button-success:focus, .button.button-success:active {
  color: #fff;
  background-color: #71a436;
  border-color: #699832;
}

.button.button-success[disabled], .button.button-success[disabled]:hover, .button.button-success[disabled]:focus, .button.button-success[disabled]:active,
fieldset[disabled] .button.button-success,
fieldset[disabled] .button.button-success:hover,
fieldset[disabled] .button.button-success:focus,
fieldset[disabled] .button.button-success:active {
  background-color: #8bc34a;
  border-color: #8bc34a;
}

.button.button-success.button-border:hover, .button.button-success.button-border:focus {
  background: #8bc34a;
  border-color: #8bc34a;
  color: #fff;
}

.button.button-danger {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button.button-danger:hover, .button.button-danger:focus, .button.button-danger:active {
  color: #fff;
  background-color: #c1134e;
  border-color: #b31248;
}

.button.button-danger[disabled], .button.button-danger[disabled]:hover, .button.button-danger[disabled]:focus, .button.button-danger[disabled]:active,
fieldset[disabled] .button.button-danger,
fieldset[disabled] .button.button-danger:hover,
fieldset[disabled] .button.button-danger:focus,
fieldset[disabled] .button.button-danger:active {
  background-color: #e91e63;
  border-color: #e91e63;
}

.button.button-danger.button-border:hover, .button.button-danger.button-border:focus {
  background: #e91e63;
  border-color: #e91e63;
  color: #fff;
}

.button.button-warning {
  color: #fff;
  background-color: #f87d09;
  border-color: #f87d09;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button.button-warning:hover, .button.button-warning:focus, .button.button-warning:active {
  color: #fff;
  background-color: #c86406;
  border-color: #b95d05;
}

.button.button-warning[disabled], .button.button-warning[disabled]:hover, .button.button-warning[disabled]:focus, .button.button-warning[disabled]:active,
fieldset[disabled] .button.button-warning,
fieldset[disabled] .button.button-warning:hover,
fieldset[disabled] .button.button-warning:focus,
fieldset[disabled] .button.button-warning:active {
  background-color: #f87d09;
  border-color: #f87d09;
}

.button.button-warning.button-border:hover, .button.button-warning.button-border:focus {
  background: #f87d09;
  border-color: #f87d09;
  color: #fff;
}

.button.button-round {
  border-radius: 30px;
}

.button.button-icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}

.button.button-flat {
  border-radius: 0;
}

.button.button-border {
  background: none;
  color: #66615B;
  border-width: 2px;
}

.button.button-border:hover, .button.button-border:focus {
  background: #66615B;
  border-color: #66615B;
  color: #fff;
}

.button.button-disabled {
  color: #efefef;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #efefef;
  border: #d4d4d4;
  cursor: not-allowed;
}

.button.button-disabled:hover, .button.button-disabled:focus, .button.button-disabled:active {
  color: #efefef;
  background-color: #bbbbbb;
  border-color: #b3b3b3;
}

.button.button-disabled[disabled], .button.button-disabled[disabled]:hover, .button.button-disabled[disabled]:focus, .button.button-disabled[disabled]:active,
fieldset[disabled] .button.button-disabled,
fieldset[disabled] .button.button-disabled:hover,
fieldset[disabled] .button.button-disabled:focus,
fieldset[disabled] .button.button-disabled:active {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}

.button.button-disabled:hover, .button.button-disabled:focus {
  background: #d4d4d4 !important;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
}

input,
select,
textarea {
  display: block;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
}

[type="file"] {
  width: 100%;
}

select {
  width: 100%;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
